# Python
.venv/
__pycache__/
*.pyc

# Environment
.env
.env.local

# Jupyter
.ipynb_checkpoints/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data files
data/raw/
data/processed/
*.csv
*.xls
*.xlsx

# Power BI
*.pbix

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Logs
*.log